{% extends 'base_generic.html' %}

{% block content %}
    {% if validlink %}
        <p>Please enter and confirm your new password.</p>
        <form method="post" action="">
            {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New Password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm Password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password"/></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1 class="text-danger">Password reset failed</h1>
        <p class="text-danger">The password reset link was invalid, possibly because it has already been used. Please
            request a new <a href="{% url 'password_reset' %}">password reset</a></p>
    {% endif %}
{% endblock content %}