{% extends 'base_generic.html' %}

{% block content %}
    <h1>Borrowed books</h1>
    {% if bookinstance_list %}
        <ul>
            {% for bookinstance in bookinstance_list %}
                <li {% if bookinstance.is_overdue %}class="text-danger"{% endif %}>
                    <a href="{% url 'book-detail' bookinstance.book.pk %}">{{ bookinstance.book.title }}</a>
                    ({{ bookinstance.due_back }})
                    <p>On loan to {{ bookinstance.borrower }}. {% if perms.catalog.can_mark_returned %} - <a
                            href="{% url 'renew-book-librarian' bookinstance.id %}">renew</a>{% endif %}</p>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are no books checked out from the library.</p>
    {% endif %}
{% endblock content %}